<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
<meta name="author" content="Coderthemes">

</head>


<body class="fixed-left">

	<div id="loadContent" class="container-fluid" layout:fragment="content">

		<!-- Page-Title -->
		<div class="row">
			<div class="col-sm-12">
				<h4 class="page-title">Profile</h4>

			</div>
		</div>


		<div class="row">
			<div class="col-12">
				<div class="card-box table-responsive">
					<h4 class="m-t-0 header-title">Team list</h4>
					<p class="text-muted font-14 m-b-30">
					</p>

					<table id="datatable" class="table table-bordered">
						<thead>
							<tr>
								<th>No.</th>
								<th>User Name</th>
								<th>Full Name</th>
								<th>Role</th>
								<th>Updated At</th>
							</tr>
						</thead>
							<tr>
								<td>1</td>
								<td th:text="${userLogined.userName}"></td>
								<td th:text="${userLogined.employee.fullName}"></td>
								<td th:text="${userLogined.role.role}"></td>
								<td th:text="${userLogined.updatedAt}"></td>
							</tr>

						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>